<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
  	<servlet-name>restServlet4</servlet-name>
  	<servlet-class>net.arnx.jsonic.web.RESTServlet</servlet-class>
  	<init-param>
  		<param-name>config</param-name>
  		<param-value>
  		{
  			"debug":true,
  			"mappings":{
  				"/{class}.json":{
  					"target":"jp.game.${class}Service",
  					"method": {"POST":"getPostParameter"},
	        		"verb": ["POST"]
  				}
  			}
  		}
  		</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>restServlet4</servlet-name>
    <url-pattern>*.json</url-pattern>
  </servlet-mapping>
</web-app>