<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<servlet>
		<servlet-name>GetSettingService</servlet-name>
		<servlet-class>jp.game.GetSettingService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SetSettingService</servlet-name>
		<servlet-class>jp.game.SetSettingService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ResetSettingService</servlet-name>
		<servlet-class>jp.game.ResetSettingService</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GetSettingService</servlet-name>
		<url-pattern>/GetSettingService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SetSettingService</servlet-name>
		<url-pattern>/SetSettingService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ResetSettingService</servlet-name>
		<url-pattern>/ResetSettingService</url-pattern>
	</servlet-mapping>

</web-app>
